<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="prefetch" blocking="render" href="/views/components/people.ejs" type="text/ejs" data-name="people">
</head>
<body>
    <%- include('components/header') %>
    <%- include('components/aside') %>

    <main id="people">
        <%- include('components/people') %>
    </main>

    <%- include('components/footer') %>

    <script src="/js/ejs.min.js" type="text/javascript"></script>
    <script src="/js/scripts.js" type="application/javascript"></script>
</body>
</html>